<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"></link>
    
    <!-- Bootstrap Core CSS -->
    <link href="css/main.css" rel="stylesheet"></link>

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">GRE Galvenizer</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Revise</a>
                    </li>
                    <li>
                        <a href="#">Decks</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
		<div class="row word-container">
			<form action="#" class="new-word-form" th:action="@{/addWord}" th:object="${seedStarter}" method="post">
				<div class="word-card">
					<div class="col-sm-8 col-md-5 col-md-offset-3 word" style="min-width: 270px;">
						<div class="input-group input-group-lg">
						  <span class="input-group-addon" id="sizing-addon1"></span>
						  <input type="text" class="form-control word-input" placeholder="Word" name="word" aria-describedby="sizing-addon1"></input>
						  <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
						</div>
					</div>
					<div class="existing-meanings">
					
					</div>
					<div class="col-sm-8 col-md-7 col-md-offset-2 meaning" style="min-width: 270px;">
						<div class="input-group input-group-lg">
						  <span class="input-group-addon" id="sizing-addon1"></span>
						  <input type="text" class="form-control meaning-input" placeholder="Meaning" name="new-meaning" aria-describedby="sizing-addon1"></input>
						</div>
						<button type="submit" class="btn btn-primary btn-block word-submit btn-lg">Add Word</button>
					</div>
				</div>		
			</form> 
		</div>
    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	<script>
		$(".word-input").change(function() {
		   $.ajax({
	          dataType: "json",
	          url: "search?word="+$(this).val(),
	          error: function() {
	             alert("Failed to connect to Search API");
	          },
	          success: function(data){	 
	        	  var existing_meaning = '<div class="col-sm-8 col-md-7 col-md-offset-2 well well-sm" style="min-width: 270px;"><div class="input-group input-group-lg"><h4>'+data["meaning"]+'</h4></div></div>';
	        	  var parser = new DOMParser();
	        	  var divElement = parser.parseFromString(existing_meaning, "text/xml");
	        	  $(".existing-meanings").append(existing_meaning);
	          }
	        }); 
		});
		
		$(".new-word-form").submit(function( event ) {
			var $inputs = $('.new-word-form :input');
			var validFlag = true;
			if($(".word-input").val() == "" || $(".word-input").val() == null){
				event.preventDefault();
				return false;
			}
			if($(".meaning-input").val() == "" || $(".meaning-input").val() == null){
				event.preventDefault();
				return false;
			}
		    
		});
	</script>
</body>

</html>
